body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

.slider {
    margin: 20px auto;
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 300px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #92bff0;
    color: white;
    border-radius: 30px;
}

.slide:nth-child(2) {
    background-color: #007bff;
}

.slide:nth-child(3) {
    background-color: #0056b3;
}

.slide:nth-child(4) {
    background-color: #004a99; 
}

.slide:nth-child(5) {
    background-color: #004080;
}

.slide:nth-child(6) {
    background-color: #003366; 
}

.slide:nth-child(7) {
    background-color: #00264d;
}

.slide:nth-child(8) {
    background-color: #001a33; 
}

.slide:nth-child(9) {
    background-color: #000d1a;
}

.slide:nth-child(10) {
    background-color: #000000;
}


button.prev, button.next {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.lana {
    max-width: 100%;
    max-height: 90%;
    border-radius: 15px;
}