body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

blockquote {
    font-size: 1.5em;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #f53030;
}

button:active {
    background-color: #690404;
    transition: background-color 0.1s;
}

#author {
    font-size: 1.2em;
    color: #646464;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    padding: 10px;
}